<div class="section home">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			{{# items }}
			<div class="swiper-slide table" style="background-image: url({{visuel}});">
				<div class="cell menu-hide">
					<a class="txtblock" href="spectacles/{{titre_slug}}">
						<div class="moment pluto-bold">{{statut}}</div>
						<h1 class="title pluto-bold">{{titre}}</h1>
						<div class="auteurs">{{{auteurs}}}</div>
					</a>
				</div>
				<!--  <img src="{{visuel}}"> -->
			</div>
			{{/ items }}
		</div>
		<div class="swiper-pagination menu-hide"></div>
	</div>
</div>