<div class="section list">
	<div class="titre">{{collection}}</div>

	<div class="items">
		{{#list}}
			<a href="{{root}}/{{titre_slug}}" class="item">
				<div class="item-date">{{date}}</div>
				<div class="item-title">{{titre}}</div>
				<!-- <img src="{{visuel}}"> -->
			</a>
		{{/list}}
	</div>
</div>