<div class="section list list--presse">
	<div class="titre">{{collection}}</div>
	<div class="list--presse-sub">EXTRAITS DE PRESSE</div>

	<div class="items">
		{{#list}}
			<a href="./spectacles/{{spectacle.titre_slug}}" class="spectacle {{spectacle.titre_slug}}">{{spectacle.titre}}</a>
			<img class="visuel" src="{{visuel}}">
			<div class="quote"> «{{quote}}» </div>
			<div class="author">{{author}}</div>
			<hr/>
		{{/list}}
	</div>

	<style type="text/css">
		{{#list}}
		.{{spectacle.titre_slug}} {
			display: block;
		}

		.{{spectacle.titre_slug}} ~ .{{spectacle.titre_slug}}{
			display: none;
		}

		{{/list}}
	</style>
</div>